.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color: blueviolet;
    color: white;
}
.footer{
    background-color: rgb(179, 19, 243);
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}
.jumbotron
{
    ca
}